@font-face {
  font-style: normal;
  font-family: "Play";
  font-weight: 700;
  src: url(../assets/fonts/Play/Play-Bold.ttf);
}

@font-face {
  font-style: normal;
  font-family: "Play";
  font-weight: 400;
  src: url(../assets/fonts/Play/Play-Regular.ttf);
}