$color-bg-body: #CE5A57; 
$color-cell:#E78583;
$color-bg-main: #415B89;
$color-text-shadow: #152D59;
$color-title: #CEA457;

$color-ball-1: #861F1C;
$color-ball-2: #f0f075;
$color-ball-3: #152D59;
$color-ball-4: #149cb8;
$color-ball-5: #d92626;
$color-ball-6: #57458E;
$color-ball-7: #145F35;