@import 'normalize';
@import 'fonts';
@import 'variables';
@import 'mixins';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: "Play";
}

.container {
  width: 100%;
  min-height: 100vh;
  background-color: $color-bg-body;
  @include flex-column(center, center);
  position: relative;
}

header {

  h1 {
    text-align: center;
    color: $color-title;
    text-shadow: 2px 2px 3px $color-text-shadow;
    font-family: "Play";
    font-weight: 700;
  }
}

main {
  width: 520px;
  padding: 0 10px 10px 10px;
  background-color: $color-bg-main;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 7px 5px $color-text-shadow;
  // margin-top: 20px;
  margin-bottom: 100px;
}

.controls {
  width: 100%;
  height: 70px;
  @include flex(space-between, center);
  font-family: "Play";
  font-weight: 400;
  color: $color-title;
  text-shadow: 2px 2px 3px $color-text-shadow;

  .burger-menu {
    background-color: transparent;
    border: none;
    width: 50px;
    height: 50px;
    @include flex(center, center);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;

    svg {
      fill: $color-cell;
      // text-shadow: 2px 2px 3px $color-text-shadow;
    }
  }

  .open {
    transform: rotate(90deg);
  }

  .start-btn {
    @include btn;
    width: 100px;
    height: 30px;
    &:disabled {
      pointer-events: none;
      background-color: rgba(21, 45, 89, 0.5);
    }
  }

  .balls-time-box {
    width: 100px;
    @include flex-column(normal, center);

    .next-balls {
      width: 80px;
      @include flex(space-between);

      .next-ball {
        width:15px;
        height: 15px;
        border-radius: 50%;
      }
    }

    .time {
      font-size: 18px;
      margin-top: 10px;
    }
  }

  .score {
    width: 60px;
    @include flex-column(normal, center);
    font-size: 20px;

    .score-count {
      font-size: 25px;
    }
  }

  .volume-btn, .volume-non-btn {
    background-color: transparent;
    width: 40px;
    height: 40px;
    border: none;
    @include flex(center, center);
    cursor: pointer;

    svg {
      fill: $color-title;
      width: 25px;
    }
  }

  .volume-btn {
    svg {
      width:20px;
      margin-right: 6px;
    }
    
  }

  .hidden {
    display: none;
  }


}

.field-box {
  // @include flex-column();
  // flex-wrap: wrap;
  width: 500px;
  height: 500px;
  // border:  1px solid $color-bg-body;
  position: relative;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    z-index: 3;
    background-color: rgba(21, 45, 89, 0.8);
    transition: all 0.3s ease-in-out;
    @include flex-column(center, center);

    .overlay-inner{
      @include flex-column(center, center);
      padding: 10px;
    }

    .menu {
      opacity: 0;
      transition: 0.3s ease-in-out;
      transition-delay: 0.3s;

      ul {
        @include flex-column(normal, center);
        gap: 30px;


        li{
          list-style-type: none;
          
          button {
            @include btn;
            width: 150px;
            height: 40px;
            font-weight: 700;
          }
        }

      }
    
    }

    .rules {

      .rules-title {
        font-size: 30px;
        font-weight: 700;
        color: $color-title;
        // margin-bottom: 20px;
        text-shadow: 3px 3px 3px $color-text-shadow;
      }

      p {
        margin-top: 10px;
        font-size: 18px;
        font-weight: 400;
        color: #E79F9D;
        text-shadow: 3px 3px 3px $color-text-shadow;
        text-align: justify;
      }

    }
    

    .gameover {
      opacity: 0;
      transition: 1s ease-in-out;
      transition-delay: 0.3s;
      

       &__title {
        font-size: 40px;
        color: $color-title;
        font-weight: 700;
        margin-bottom: 40px;
        text-shadow: 2px 2px 3px $color-text-shadow;
       }

       &__time, &__score {
        font-size: 30px;
        color: $color-cell;
        font-weight: 400;
        margin-top: 20px;
        text-shadow: 2px 2px 3px $color-text-shadow;
       }
    }

    .hidden {
      display: none;
    }

    .inner-show {
      opacity: 1;
    }
  }

  .overlay-show {
    height: 100%;
  }

  .field {
    @include flex-column();
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    border:  1px solid $color-bg-body;
    // position: relative;
  }

  .box {
    width: 11.11%;
    height: 11.11%;
    background-color: $color-cell;
    border: 2px solid $color-bg-body;
    // border-radius: 5px;
    position: relative;
    @include flex(center, center);

    .small-ball {
      width:30%;
      height: 30%;
      border-radius: 50%;
      position: absolute;
    }


    .ball {
      width: 80%;
      height: 80%;
      border-radius: 50%;
      position: absolute;
      z-index: 1;
      cursor: pointer;
      opacity: 1;
      // transition: all 0.5s ease-in-out;
    }
  }
}

footer {
  width: 100%;
  height: 80px;
  background-color: $color-bg-main;
  position: absolute;
  bottom: 0;

  p {
    font-family: "Play";
    font-weight: 400;
    font-size: 20px;
    color: $color-title;
  }

  a {
    transition: all 0.3s ease-in-out;

    svg {
      fill: $color-title;
    }
    
    @media (hover:hover) {
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  
  .footer-wrapper {
    margin: 0 auto;    
    max-width: 520px;
    height: 100%;
    padding: 10px;
    
    @include flex(space-between, center );
  }  
}

// .endScale {
//   animation: toBig 0.3s ease-in-out;
//   animation-fill-mode: forwards;
// }



// .hideall {
//   opacity: 0;
//   transform: scaleX(1.5);
//   transform: scaleX(1.5); 
// }

.hide {
  animation: hideBall 0.3s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes hideBall {
  0% {width: 80%; height: 80%;}
  50% {width: 0%; height: 0%;}
  100% {width: 0%; height: 0%;}
}

.show {
  animation: showBall 0.3s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes showBall {
  0% {width: 0%; height: 0%;}
  100% {width: 80%; height: 80%;}
}

.show-first {
  animation: showFirst 0.3s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes showFirst {
  0% {width: 0%; height: 0%;}
  100% {width: 80%; height: 80%;}
}



.active {
  animation: jump 0.5s infinite;
}

@keyframes jump {
  0%   {bottom:10%;height: 80%} 
  40%  {bottom:30%;height: 80%} 
  90%  {bottom:10%;height: 70%} 
  100% {bottom:10%;height: 80%}
}

@keyframes toBig {
  from {
    width: 50%;
    height: 50%;
  }

  to {
    width: 80%;
    height: 80%;
  }
}