.about {
  width: 100%;
  background-color: $color-light;

  &__wrapper {
    @include wrapper;
    padding-top: 20px;
    padding-bottom: 35px;

  }

  &__title {
    @include section-title;  
  }

  &__line {
    @include line-under-title;
  }

  &__text {
    margin-top: 40px;
    color: $color-dark;
    @include text-regular;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
  }

  .slider {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;

    @include laptops {
      display: flex;
      justify-content: space-between;
      max-width: 614px;
    }

    &__arrow {
      display: none;
      margin-top: 288.5px;
      width: 24px;
      height: 24px;
      border: none;
      background-color: transparent;

      @include laptops {
        display: block;
      }

    }

    &__outer {
      width: 100%;
      overflow: hidden; 

      @include laptops {
        width: 450px; 
      }
    }

    &__inner {
      display:flex;
      column-gap: 25px;

      img {
        width: 32.14%;

        @include laptops  {
          width: 450px; 
        }
      }
    }
  }

  .pagination {
    margin: 35px auto 0 auto;
    display: flex;
    width: 78px;

    @include laptops {
      width: 130px;
      margin-top: 20px;
    }
    

    &__box {
      width: 26px;
      height: 26px;
      @include flex(center, center);

      &:hover {
        cursor: pointer;
      }

      &:nth-child(4), &:nth-child(5) {
        display: none;

        @include laptops {
          display: flex;
        }
      }
    }

    &__inner {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: $color-dark-l;

      &__active {
        background-color: $color-secondary;
      }
    }
  }
}