.contacts {
  width: 100%; 
  background-color: $color-light;

  &__wrapper {
    @include wrapper;
    padding-top: 20px;
    padding-bottom: 40px;
    @include flex-column();
  }

  &__title {
    @include section-title;
  }

  &__line {
    @include line-under-title;
  }

  &__content {
    margin-top: 40px;
    @include flex(space-between);
  }

  &__text {
    @include text-inter-20;
    text-transform: capitalize;
  }

  &__subtitle {
    font-weight: 700;

    &__staff {
      margin-top: 40px;
    }
    
    &__staff + ul {
      margin-top: 20px;

      a {
        font-weight: 700;
      }
    }
  }

  &__list {
    margin-top: 40px;

    li {
      margin-bottom: 20px;
      list-style-type: none;

      a {
        text-decoration: none;
        color: $color-dark;
        transition: color 0.3s ease-out;

        &:hover {
          color: $color-secondary;
        }
      }
    }
  }
}