.librarycard {
  background-color: $color-light;

  &__wrapper {
    @include wrapper;
    padding-top: 20px;
    padding-bottom: 41px;
  }

  &__title {
    @include section-title; 
  }

  &__line {
    @include line-under-title;
  }

  &__content {
    @include flex(space-between);
    margin-top: 40px;

    @include laptops {
      flex-direction: column;
      align-items: center;
    }

    .cardfinder {
      width: 600px;
      margin-right: 20px;
      @include laptops {
        margin-right: 0;
      }

      &__title {
        @include text-regular;
        color: $color-dark;
        font-size: 30px;
        text-align: center;
        letter-spacing: 0.6px;
        line-height: 36px;
      }

      .card {
        width: 600px;
        height: 386px;
        border: 3px solid $color-secondary;
        padding: 17px 17px 0 17px;
        margin-top: 30px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

        &__content {
          background-color: $color-secondary;
          height: 272px;
          @include flex-column;
          padding: 20px 20px 0 20px;

          input {
            height: 66px;
            border: none;
            border-radius: 10px;
            @include font-title;
            font-size: 30px;
            letter-spacing: 0.6px;
            line-height: 50px;
            padding-left: 20px;
            padding-right: 20px;
            outline: none;

            &:invalid {
              border: 3px solid red;
            }

            &::placeholder {
              color: $color-additional;
            }

            &:disabled {
              background-color: $color-light;
            }
          }     
        }

        &__title {
          @include font-title;
          color: $color-dark;
          font-size: 30px;
          line-height: 50px;
          letter-spacing: 0.6px;
        }

        &__name {
          margin-top: 20px;
        }

        &__number {
          margin-top: 25px;      
        }

        &__btn {
          display: block;
          margin-top: 20px;
          margin-right: auto;
          margin-left: auto; 
          @include button-light;
          width: 242px;
          height: 44px;
          font-size: 20px;
        }

        .card-data {
          width: 169px;
          height: 63px;
          margin-top: 15px;
          @include flex(space-between);
          margin-right: auto;
          margin-left: auto; 

          &__item {
            @include flex-column(space-between, center);
          }

          &__name, &__count {
            @include text-regular;
            font-size: 10px;
            line-height: 20px;
            letter-spacing: 0.2px;
            color: $color-dark;
          }          
        }

        .hidden {
          display: none;
        }
      }
    }

    .readercard {
      width: 456px;
      @include flex-column(normal, flex-end);

      @include laptops {
        margin-top: 20px;
        align-items: center;
        width: 600px;
      }

      &__title {
        @include font-title;
        color: $color-dark;
        font-size: 30px;
        letter-spacing: 0.6px;
        line-height: 33px;
      }

      &__text {
        margin-top: 35px;
        @include text-inter-20;
        color: $color-dark;
        text-align: right;
        letter-spacing: 0.4px;

        @include laptops {
          text-align: center;
          margin-top: 40px;
        }
      }

      &__buttons {
        margin-top: 35px;
        width: 170px;
        @include flex(flex-end);
        column-gap: 20px;

        @include laptops {
          margin-top: 40px;
        }
      }

      &__btn {
        @include button-light;
      }
    }
  }
}