* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 500px;
  height: 500px;
  padding: 5%;


  .box {
    
    width: 11.11%;
    height: 11.11%;
    background-color: gray;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .small-ball {
      width:30%;
      height: 30%;
      border-radius: 50%;
      // background-color: red;
      position: absolute;
    }

    // .hidden {
    //   display: none;
    // }
  }




}

.ball {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  // background-color: red;
  position: absolute;
  z-index: 1;
  cursor: pointer;
  opacity: 1;
  transition: transform 0.5s ease-in-out;
}

// .move-right {
//   animation: toRight 0.4s ease-in-out;
//   animation-fill-mode: forwards;
// }

// .move-left {
//   animation: toLeft 0.4s ease-in-out;
//   animation-fill-mode: forwards;
// }

// .move-top {
//   animation: toTop 0.4s ease-in-out;
//   animation-fill-mode: forwards;
// }

// .move-bottom {
//   animation: toBottom 0.4s ease-in-out;
//   animation-fill-mode: forwards;
// }

.endScale {
  animation: toBig 0.3s ease-in-out;
  animation-fill-mode: forwards;
}

.active {
  animation: jump 0.5s infinite;
}

.hide {
  opacity: 0; 
}


@keyframes jump {
  0%   {bottom:10%;height: 80%} 
  40%  {bottom:30%;height: 80%} 
  90%  {bottom:10%;height: 70%} 
  100% {bottom:10%;height: 80%}
}

@keyframes toBig {
  from {
    width: 50%;
    height: 50%;
  }

  to {
    width: 80%;
    height: 80%;
  }
}


// @keyframes toRight {

//   0% {left:10%; bottom:10%;height: 80%} 
//   20% {left:35%; bottom:20%;height: 80%} 
//   40% {left:60%; bottom:30%;height: 80%} 
//   60% {left:85%; bottom:20%;height: 80%}
//   80% {left:110%; bottom:10%; height:60%}  
//   100% {left:110%; bottom:10%; height: 80%}


// }

// @keyframes toLeft {
//   from {
//     right: 10%;
//   } 

//   to {
//     right: 110%;
//   }
// }

// @keyframes toTop {
//   from {
//     bottom: 10%;
//   } 

//   to {
//     bottom: 110%;
//   }
// }

// @keyframes toBottom {
//   0% {left:10%; bottom:10%;height: 80%} 
//   80% {left:10%; bottom:-90%;height: 60%} 
//   100% {left:10%; bottom:-90%;height: 80%} 
// }