@font-face {
  font-style: normal;
  font-family: "Forum";
  font-weight: 400;
  src: url(assets/fonts/Forum-Regular.ttf);
}
@font-face {
  font-style: normal;
  font-family: "Inter";
  font-weight: 400;
  src: url(assets/fonts/Inter-Regular.ttf);
}
@font-face {
  font-style: normal;
  font-family: "Inter";
  font-weight: 700;
  src: url(assets/fonts/Inter-Bold.ttf);
}
:root {
  font-size: 10px;
}

:root {
  font-size: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #F5F5F5;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.header {
  height: 90px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #0C0C0E;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__title {
  color: #FFFFFF;
  font-size: 3rem;
  font-family: "Forum";
  letter-spacing: 0.6px;
}
.header__nav-profile {
  width: 652px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav-profile .navigation {
  color: #FFFFFF;
  width: 584px;
  font-size: 2rem;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}
.header__nav-profile .navigation li {
  letter-spacing: 0.1px;
}

.welcome {
  width: 100%;
  height: 600px;
  background-image: url("assets/images/welcome-overlay.jpg");
}
.welcome__title {
  width: 600px;
  height: 220px;
  background-color: #0C0C0E;
  padding: 35px 40px;
  font-family: "Forum";
  color: #FFFFFF;
  font-size: 4rem;
  text-align: center;
  line-height: 5rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  position: relative;
  top: 220px;
}
.welcome__title span {
  padding-right: 10px;
}

.about {
  width: 100%;
  height: 837px;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
}
.about__title {
  color: #0C0C0E;
  font-family: "Forum";
  font-size: 4rem;
  line-height: 4rem;
  letter-spacing: 2px;
  margin: 20px auto 0 auto;
}
.about__line {
  margin: 20px auto 0 auto;
  width: 50px;
  height: 1px;
  background-color: #0C0C0E;
}
.about__text {
  margin-top: 40px;
  color: #000000;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  line-height: 4rem;
  text-align: center;
}
.about .slider {
  margin: 20px 20px 0 20px;
}
.about .slider__inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.about .pagination {
  margin: 35px auto 0 auto;
  width: 78px;
  display: flex;
  justify-content: space-between;
}
.about .pagination__box {
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .pagination__inner {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #0C0C0E;
}
.about .pagination__inner__active {
  background-color: #BB945F;
}

.favorites {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  padding-left: 20px;
  padding-right: 20px;
}
.favorites__title {
  color: #0C0C0E;
  font-family: "Forum";
  font-size: 4rem;
  line-height: 4rem;
  letter-spacing: 2px;
  margin: 20px auto 0 auto;
}
.favorites__line {
  margin: 20px auto 0 auto;
  width: 50px;
  height: 1px;
  background-color: #0C0C0E;
}
.favorites__text {
  color: #000000;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  margin-top: 40px;
  height: 24px;
}
.favorites__buttons {
  margin-top: 35px;
  height: 34px;
  width: 705px;
  display: flex;
  justify-content: space-between;
}
.favorites__buttons input {
  position: absolute;
  opacity: 0;
}
.favorites__buttons label {
  display: inline-block;
  padding: 5px;
  color: #000000;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  letter-spacing: 0.6px;
}
.favorites__buttons label:first-child {
  padding-left: 0;
}
.favorites__buttons input:checked + label {
  font-weight: 700;
}
.favorites__buttons input:not(:checked) + label:before {
  content: url(assets/icons/icon-non-checked.svg);
  display: inline-block;
  margin-right: 20px;
  margin-top: 1px;
}
.favorites__buttons input:checked + label:before {
  content: url(assets/icons/icon_checked.svg);
  display: inline-block;
  margin-right: 20px;
  margin-top: 1px;
}
.favorites__button:first-child label {
  padding-left: 0;
}
.favorites .books {
  margin-top: 35px;
}
.favorites .books__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.favorites .books__box .book {
  width: 590px;
  height: 555px;
  position: relative;
  margin-bottom: 40px;
}
.favorites .books__box .book__image {
  width: 200px;
  height: 300px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.favorites .books__box .book__text {
  border: 1px solid #000000;
  padding-left: 20px;
  width: 550px;
  height: 100%;
}
.favorites .books__box .book__header-text {
  color: #000000;
  font-family: "Forum";
  font-size: 2rem;
  line-height: 4rem;
  letter-spacing: 2px;
  margin-top: 13px;
}
.favorites .books__box .book__header-line {
  width: 60px;
  height: 1px;
  background-color: #BB945F;
}
.favorites .books__box .book__title {
  font-weight: 700;
  font-family: "Inter", sans-serif;
  color: #000000;
  font-size: 1.5rem;
  line-height: 4rem;
  letter-spacing: 2px;
  margin-top: 20px;
}
.favorites .books__box .book__title span {
  text-transform: uppercase;
}
.favorites .books__box .book__description {
  width: 357px;
  height: 320px;
  margin-top: 20px;
  color: #000000;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  line-height: 4rem;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.favorites .books__box .book__btn {
  width: 75px;
  height: 30px;
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  letter-spacing: 1px;
  background-color: #FFFFFF;
  margin-top: 15px;
}
.favorites .books__box .book:last-child .book__btn {
  border-color: #BB945F;
  color: #BB945F;
}
.favorites .books .spring, .favorites .books .summer, .favorites .books .autumn {
  display: none;
}

.coffeeshop {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  padding-bottom: 40px;
}
.coffeeshop__title {
  color: #0C0C0E;
  font-family: "Forum";
  font-size: 4rem;
  line-height: 4rem;
  letter-spacing: 2px;
  margin: 20px auto 0 auto;
}
.coffeeshop__line {
  margin: 20px auto 0 auto;
  width: 50px;
  height: 1px;
  background-color: #0C0C0E;
}
.coffeeshop__text {
  color: #000000;
  font-size: 2rem;
  line-height: 4rem;
  letter-spacing: 2px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  margin-top: 40px;
  text-align: center;
}
.coffeeshop__menu {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.coffeeshop__menu .drinks {
  width: 438px;
}
.coffeeshop__menu .desserts {
  width: 482px;
}
.coffeeshop__menu .menu__title {
  color: #0C0C0E;
  font-family: "Forum";
  font-size: 4rem;
  line-height: 4rem;
  letter-spacing: 2px;
  margin: 20px auto 0 auto;
  color: #BB945F;
  margin-top: 0;
}
.coffeeshop__menu .menu__title__desserts {
  text-align: right;
}
.coffeeshop__menu .menu__price .menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
.coffeeshop__menu .menu__price .menu-item__desserts {
  justify-content: flex-end;
}
.coffeeshop__menu .menu__price .menu-item__name {
  width: 200px;
  color: #000000;
  font-size: 2rem;
  line-height: 4rem;
  letter-spacing: 2px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}
.coffeeshop__menu .menu__price .menu-item__name__desserts {
  width: 215px;
  text-align: right;
}
.coffeeshop__menu .menu__price .menu-item__box {
  display: flex;
  align-items: center;
}
.coffeeshop__menu .menu__price .menu-item__box__desserts {
  margin-left: 59px;
}
.coffeeshop__menu .menu__price .menu-item__line {
  width: 100px;
  height: 1px;
  background-color: #BB945F;
  margin-right: 60px;
}
.coffeeshop__menu .menu__price .menu-item__price {
  font-family: "Forum";
  color: #000000;
  font-size: 2rem;
  line-height: 4rem;
  letter-spacing: 2px;
}

.contacts {
  width: 100%;
  padding: 0 20px 40px 20px;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
}
.contacts__title {
  color: #0C0C0E;
  font-family: "Forum";
  font-size: 4rem;
  line-height: 4rem;
  letter-spacing: 2px;
  margin: 20px auto 0 auto;
}
.contacts__line {
  margin: 20px auto 0 auto;
  width: 50px;
  height: 1px;
  background-color: #0C0C0E;
}
.contacts__content {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.contacts__text {
  color: #000000;
  font-size: 2rem;
  line-height: 4rem;
  letter-spacing: 2px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  text-transform: capitalize;
}
.contacts__subtitle {
  font-weight: 700;
}
.contacts__subtitle__staff {
  margin-top: 40px;
}
.contacts__subtitle__staff + ul {
  margin-top: 20px;
}
.contacts__subtitle__staff + ul a {
  font-weight: 700;
}
.contacts__list {
  margin-top: 40px;
}
.contacts__list li {
  margin-bottom: 20px;
  list-style-type: none;
}
.contacts__list li a {
  text-decoration: none;
  color: #000000;
}

.footer {
  background-color: #0C0C0E;
  height: 250px;
  padding: 20px 20px 44px 20px;
}
.footer__info {
  width: 100%;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
}
.footer__location {
  width: 230px;
}
.footer__location a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}
.footer__icons {
  margin-top: 10px;
  width: 102px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__icon {
  display: block;
  width: 24px;
  height: 24px;
}
.footer__icon__twitter {
  background-image: url("assets/icons/u_twitter-alt.svg");
}
.footer__icon__instagram {
  background-image: url("assets/icons/u_instagram.svg");
}
.footer__icon__facebook {
  background-image: url("assets/icons/u_facebook-f.svg");
}
.footer__schedule {
  width: 149px;
  color: #FFFFFF;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: right;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}
.footer__schedule .weekends {
  margin-top: 10px;
}
.footer__line {
  width: 100%;
  height: 1px;
  background-color: #FFFFFF;
}
.footer__rss {
  color: #FFFFFF;
  margin-top: 44px;
  font-size: 2rem;
  letter-spacing: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}
.footer__rss a {
  color: #FFFFFF;
  text-decoration: none;
}
.footer__rss .rss {
  margin-left: 50px;
}/*# sourceMappingURL=style.css.map */