@import 'assets/scss/variables.scss';
@import 'assets/scss/mixins.scss';
@import 'assets/scss/fonts.scss';

:root {
	font-size: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $color-main-bg;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.header {
  height: 90px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: $color-black-light;
  @include flex-space;

  &__title {
    color: $color-white;
    font-size: 3rem;
    font-family: $font-main;
    letter-spacing: 0.6px;
  }

  &__nav-profile {
    width: 652px;
    @include flex-space;

    .navigation {
      color: $color-white;
      width: 584px;
      font-size: 2rem;
      list-style-type: none;
      @include flex-space;
      @include Inter ($style: regular); 

      li {
        letter-spacing: 0.1px;
      }
    }
  }
}

.welcome {
  width: 100%;
  height: 600px;
  background-image: url('assets/images/welcome-overlay.jpg');

  &__title {
    width: 600px;
    height: 220px;
    // margin-top: 220px;
    background-color: $color-black-light;
    padding: 35px 40px;
    font-family: $font-main;
    color: $color-white;
    font-size: 4rem;
    text-align: center;
    line-height: 5rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    position: relative;
    top: 220px;

    span {
      padding-right: 10px;
    }
  }
}

.about {
  width: 100%;
  height: 837px;
  display: flex;
  flex-direction: column;

  &__title {
    color: $color-black-light;
    font-family: $font-main;
    font-size: 4rem;
    line-height: 4rem;
    letter-spacing: 2px;
    margin: 20px auto 0 auto;   
  }

  &__line {
    margin: 20px auto 0 auto; 
    width: 50px;
    height: 1px;
    background-color: $color-black-light;
  }

  &__text {
    margin-top: 40px;
    color: $color-black;
    @include Inter ($style: regular);
    font-size: 2rem;
    line-height: 4rem;
    text-align: center;
  }

  .slider {
    margin: 20px 20px 0 20px;

    &__inner {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }

  .pagination {
    margin: 35px auto 0 auto;
    width: 78px;
    display: flex;
    justify-content: space-between;

    &__box {
      width: 26px;
      height: 26px;
      @include flex-center;
    }

    &__inner {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: $color-black-light;

      &__active {
        background-color: $color-brown-light;
      }
    }

  }
}

.footer {
  background-color: $color-black-light;
  height: 250px;
  padding: 20px 20px 44px 20px;

  &__info {
    width: 100%;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
  }

  &__location {
    width: 230px;


    a {
      color: $color-white;
      text-decoration: none;
      font-size: 1.5rem;
      line-height: 2rem;
      @include Inter ($style: regular); 
    }
  }

  &__icons {
    margin-top: 10px;
    width: 102px;
    height: 40px;
    @include flex-space;
  }

  &__schedule {
    width: 149px;
    color: $color-white;
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: right;
    @include Inter ($style: regular); 

    .weekends {
      margin-top: 10px;
    }
  }

  &__line {
    width: 100%;
    height: 1px;
    background-color: $color-white;
    // background-color: $color-white;
  }

  &__rss {
    color: $color-white;
    margin-top: 44px;
    font-size: 2rem;
    letter-spacing: 2px;
    @include flex-space;
    @include Inter ($style: regular); 

    a {
      color: $color-white;
      text-decoration: none;
    }

    .rss {
      margin-left: 50px;
    }
  }
}





