@font-face {
  font-style: normal;
  font-family: "Forum";
  font-weight: 400;
  src: url(assets/fonts/Forum-Regular.ttf);
}
@font-face {
  font-style: normal;
  font-family: "Inter";
  font-weight: 400;
  src: url(assets/fonts/Inter-Regular.ttf);
}
@font-face {
  font-style: normal;
  font-family: "Inter";
  font-weight: 700;
  src: url(assets/fonts/Inter-Bold.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.header {
  height: 90px;
  background-color: #0C0C0E;
}
.header__wrapper {
  width: 1440px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.header__title {
  color: #FFFFFF;
  font-size: 30px;
  letter-spacing: 0.6px;
  font-family: "Forum", cursive;
  font-weight: 400;
  font-style: normal;
}
.header__nav-profile {
  width: 652px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav-profile .navigation {
  color: #FFFFFF;
  width: 584px;
  height: 40px;
  font-size: 20px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.header__nav-profile .navigation li {
  letter-spacing: 0.1px;
  transition: border 0.3s ease-out;
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
}
.header__nav-profile .navigation li a {
  color: #FFFFFF;
}
.header__nav-profile .navigation li:hover {
  cursor: pointer;
  border-bottom: 2px solid #FFFFFF;
}

.welcome {
  width: 100%;
  height: 600px;
  background-image: url("assets/images/welcome-original.jpeg");
  background-size: 100% auto;
  background-position: 0% 50%;
  position: relative;
}
.welcome__overlay {
  position: absolute;
  width: 100%;
  height: 300px;
  background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.1) 100%);
}
.welcome__wrapper {
  width: 1440px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding: 0;
  height: 100%;
}
.welcome__title {
  width: 600px;
  height: 220px;
  background-color: #0C0C0E;
  padding: 35px 40px;
  color: #FFFFFF;
  font-size: 40px;
  text-align: center;
  line-height: 50px;
  letter-spacing: 3px;
  text-transform: uppercase;
  position: relative;
  top: 220px;
  font-family: "Forum", cursive;
  font-weight: 400;
  font-style: normal;
}
.welcome__title span {
  padding-right: 10px;
}

.about {
  width: 100%;
  background-color: #FFFFFF;
}
.about__wrapper {
  width: 1440px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 35px;
}
.about__title {
  color: #0C0C0E;
  font-family: "Forum", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 2px;
  text-align: center;
  margin: 0 auto;
}
.about__line {
  margin: 20px auto 0 auto;
  width: 50px;
  height: 1px;
  background-color: #0C0C0E;
}
.about__text {
  margin-top: 40px;
  color: #000000;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
}
.about .slider {
  margin-top: 20px;
}
.about .slider__inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.about .pagination {
  margin: 35px auto 0 auto;
  width: 78px;
  display: flex;
  justify-content: space-between;
}
.about .pagination__box {
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .pagination__box:hover {
  cursor: pointer;
}
.about .pagination__inner {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #0C0C0E;
}
.about .pagination__inner__active {
  background-color: #BB945F;
}

.favorites {
  width: 100%;
  background-color: #FFFFFF;
}
.favorites__wrapper {
  width: 1440px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}
.favorites__title {
  color: #0C0C0E;
  font-family: "Forum", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 2px;
  text-align: center;
  margin: 0 auto;
}
.favorites__line {
  margin: 20px auto 0 auto;
  width: 50px;
  height: 1px;
  background-color: #0C0C0E;
}
.favorites__text {
  color: #000000;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  margin-top: 40px;
  height: 24px;
}
.favorites__buttons {
  margin-top: 35px;
  height: 34px;
  display: flex;
  justify-content: flex-start;
}
.favorites__buttons input {
  position: absolute;
  opacity: 0;
}
.favorites__buttons label {
  display: inline-block;
  padding: 5px;
  color: #000000;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  letter-spacing: 0.5px;
}
.favorites__buttons label:hover {
  cursor: pointer;
}
.favorites__buttons label:first-child {
  padding-left: 0;
}
.favorites__buttons input:checked + label {
  font-weight: 700;
}
.favorites__buttons input:not(:checked) + label:before {
  content: url("assets/icons/icon-non-checked.svg");
  display: inline-block;
  margin-right: 20px;
  margin-top: 1px;
}
.favorites__buttons input:checked + label:before {
  content: url("assets/icons/icon_checked.svg");
  display: inline-block;
  margin-right: 20px;
  margin-top: 1px;
}
.favorites__button:first-child label {
  padding-left: 0;
}
.favorites__button:first-child {
  width: 188px;
}
.favorites__button:nth-child(2) {
  width: 190px;
}
.favorites__button:nth-child(3) {
  width: 207px;
}
.favorites__button:nth-child(4) {
  width: 130px;
}
.favorites .books {
  margin-top: 35px;
}
.favorites .books__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.favorites .books__box .book {
  width: 590px;
  height: 555px;
  position: relative;
  margin-bottom: 40px;
}
.favorites .books__box .book__image {
  width: 200px;
  height: 300px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.favorites .books__box .book__text {
  border: 1px solid #000000;
  padding-left: 20px;
  width: 550px;
  height: 100%;
}
.favorites .books__box .book__header-text {
  color: #000000;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 2px;
  margin-top: 13px;
  font-family: "Forum", cursive;
  font-weight: 400;
  font-style: normal;
}
.favorites .books__box .book__header-line {
  width: 60px;
  height: 1px;
  background-color: #BB945F;
}
.favorites .books__box .book__title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #000000;
  font-size: 15px;
  line-height: 40px;
  letter-spacing: 2px;
  margin-top: 20px;
}
.favorites .books__box .book__title span {
  text-transform: uppercase;
}
.favorites .books__box .book__description {
  width: 357px;
  height: 320px;
  margin-top: 20px;
  color: #000000;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.favorites .books__box .book__btn {
  width: 75px;
  height: 30px;
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 10px;
  letter-spacing: 1px;
  background-color: #FFFFFF;
  transition: all 0.3s ease-out;
  margin-top: 15px;
}
.favorites .books__box .book__btn:hover {
  cursor: pointer;
  background-color: #BB945F;
  border: 1px solid #BB945F;
}
.favorites .books__box .book__btn:disabled {
  border-color: #BB945F;
  color: #BB945F;
  pointer-events: none;
}
.favorites .books .spring, .favorites .books .summer, .favorites .books .autumn {
  display: none;
}

.coffeeshop {
  width: 100%;
  background-color: #FFFFFF;
}
.coffeeshop__wrapper {
  width: 1440px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
}
.coffeeshop__title {
  color: #0C0C0E;
  font-family: "Forum", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 2px;
  text-align: center;
  margin: 0 auto;
}
.coffeeshop__line {
  margin: 20px auto 0 auto;
  width: 50px;
  height: 1px;
  background-color: #0C0C0E;
}
.coffeeshop__text {
  color: #000000;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 2px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 40px;
  text-align: center;
}
.coffeeshop__menu {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.coffeeshop__menu .drinks {
  width: 438px;
}
.coffeeshop__menu .desserts {
  width: 482px;
}
.coffeeshop__menu .menu__title {
  color: #0C0C0E;
  font-family: "Forum", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 2px;
  text-align: center;
  margin: 0 auto;
  color: #BB945F;
  margin-top: 0;
  text-align: left;
}
.coffeeshop__menu .menu__title__desserts {
  text-align: right;
}
.coffeeshop__menu .menu__price .menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
.coffeeshop__menu .menu__price .menu-item__desserts {
  justify-content: flex-end;
}
.coffeeshop__menu .menu__price .menu-item__name {
  width: 200px;
  color: #000000;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 2px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.coffeeshop__menu .menu__price .menu-item__name__desserts {
  width: 215px;
  text-align: right;
}
.coffeeshop__menu .menu__price .menu-item__box {
  display: flex;
  align-items: center;
}
.coffeeshop__menu .menu__price .menu-item__box__desserts {
  margin-left: 59px;
}
.coffeeshop__menu .menu__price .menu-item__line {
  width: 100px;
  height: 1px;
  background-color: #BB945F;
  margin-right: 60px;
}
.coffeeshop__menu .menu__price .menu-item__price {
  font-family: "Forum", cursive;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 2px;
}

.contacts {
  width: 100%;
  background-color: #FFFFFF;
}
.contacts__wrapper {
  width: 1440px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
}
.contacts__title {
  color: #0C0C0E;
  font-family: "Forum", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 2px;
  text-align: center;
  margin: 0 auto;
}
.contacts__line {
  margin: 20px auto 0 auto;
  width: 50px;
  height: 1px;
  background-color: #0C0C0E;
}
.contacts__content {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.contacts__text {
  color: #000000;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 2px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: capitalize;
}
.contacts__subtitle {
  font-weight: 700;
}
.contacts__subtitle__staff {
  margin-top: 40px;
}
.contacts__subtitle__staff + ul {
  margin-top: 20px;
}
.contacts__subtitle__staff + ul a {
  font-weight: 700;
}
.contacts__list {
  margin-top: 40px;
}
.contacts__list li {
  margin-bottom: 20px;
  list-style-type: none;
}
.contacts__list li a {
  text-decoration: none;
  color: #000000;
  transition: color 0.3s ease-out;
}
.contacts__list li a:hover {
  color: #BB945F;
}

.librarycard {
  background-color: #FFFFFF;
}
.librarycard__wrapper {
  width: 1440px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 41px;
}
.librarycard__title {
  color: #0C0C0E;
  font-family: "Forum", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 2px;
  text-align: center;
  margin: 0 auto;
}
.librarycard__line {
  margin: 20px auto 0 auto;
  width: 50px;
  height: 1px;
  background-color: #0C0C0E;
}
.librarycard__content {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.librarycard__content .cardfinder {
  width: 600px;
}
.librarycard__content .cardfinder__title {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0.6px;
  line-height: 36px;
}
.librarycard__content .cardfinder .card {
  width: 600px;
  height: 386px;
  border: 3px solid #BB945F;
  padding: 17px 17px 0 17px;
  margin-top: 30px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.librarycard__content .cardfinder .card__content {
  background-color: #BB945F;
  height: 272px;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 0 20px;
}
.librarycard__content .cardfinder .card__content input {
  height: 66px;
  border: none;
  border-radius: 10px;
  font-family: "Forum", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  letter-spacing: 0.6px;
  line-height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  outline: none;
}
.librarycard__content .cardfinder .card__content input:invalid {
  border: 3px solid red;
}
.librarycard__content .cardfinder .card__title {
  font-family: "Forum", cursive;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: 0.6px;
}
.librarycard__content .cardfinder .card__name {
  margin-top: 20px;
}
.librarycard__content .cardfinder .card__number {
  margin-top: 25px;
}
.librarycard__content .cardfinder .card__btn {
  display: block;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  width: 75px;
  height: 30px;
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 10px;
  letter-spacing: 1px;
  background-color: #FFFFFF;
  transition: all 0.3s ease-out;
  width: 242px;
  height: 44px;
  font-size: 20px;
}
.librarycard__content .cardfinder .card__btn:hover {
  cursor: pointer;
  background-color: #BB945F;
  border: 1px solid #BB945F;
}
.librarycard__content .readercard {
  width: 456px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.librarycard__content .readercard__title {
  font-family: "Forum", cursive;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0.6px;
  line-height: 33px;
}
.librarycard__content .readercard__text {
  margin-top: 35px;
  color: #000000;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 2px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  text-align: right;
  letter-spacing: 0.4px;
}
.librarycard__content .readercard__buttons {
  margin-top: 35px;
  width: 170px;
  display: flex;
  justify-content: space-between;
}
.librarycard__content .readercard__btn {
  width: 75px;
  height: 30px;
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 10px;
  letter-spacing: 1px;
  background-color: #FFFFFF;
  transition: all 0.3s ease-out;
}
.librarycard__content .readercard__btn:hover {
  cursor: pointer;
  background-color: #BB945F;
  border: 1px solid #BB945F;
}

.footer {
  background-color: #0C0C0E;
  height: 250px;
}
.footer__wrapper {
  width: 1440px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 44px;
}
.footer__info {
  width: 100%;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
}
.footer__location {
  width: 230px;
}
.footer__location a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 15px;
  line-height: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  transition: color 0.3s ease-out;
}
.footer__location a:hover {
  color: #BB945F;
}
.footer__icons {
  margin-top: 10px;
  width: 102px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__icon {
  display: block;
  width: 24px;
  height: 24px;
}
.footer__icon > svg > g > path {
  transition: fill 0.3s ease-out;
}
.footer__icon:hover > svg > g > path {
  fill: #BB945F;
}
.footer__schedule {
  width: 149px;
  color: #FFFFFF;
  font-size: 15px;
  line-height: 20px;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.footer__schedule .weekends {
  margin-top: 10px;
}
.footer__line {
  width: 100%;
  height: 1px;
  background-color: #FFFFFF;
}
.footer__rss {
  color: #FFFFFF;
  margin-top: 44px;
  font-size: 20px;
  letter-spacing: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.footer__rss a {
  color: #FFFFFF;
  text-decoration: none;
  transition: color 0.3s ease-out;
}
.footer__rss a:hover {
  color: #BB945F;
}
.footer__rss .rss {
  margin-left: 123px;
}/*# sourceMappingURL=style.css.map */