@import 'assets/scss/variables.scss';
@import 'assets/scss/fonts.scss';
@import 'assets/scss/mixins.scss';


:root {
	font-size: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $color-main-bg;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.header {
  height: 90px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: $color-black-light;
  @include flex-space;

  &__title {
    color: $color-white;
    font-size: 3rem;
    font-family: $font-main;
    letter-spacing: 0.6px;
  }

  &__nav-profile {
    width: 652px;
    @include flex-space;

    .navigation {
      color: $color-white;
      width: 584px;
      font-size: 2rem;
      list-style-type: none;
      @include flex-space;
      @include Inter ($style: regular); 

      li {
        letter-spacing: 0.1px;
      }
    }
  }
}

.welcome {
  width: 100%;
  height: 600px;
  background-image: url('assets/images/welcome-overlay.jpg');

  &__title {
    width: 600px;
    height: 220px;
    // margin-top: 220px;
    background-color: $color-black-light;
    padding: 35px 40px;
    font-family: $font-main;
    color: $color-white;
    font-size: 4rem;
    text-align: center;
    line-height: 5rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    position: relative;
    top: 220px;

    span {
      padding-right: 10px;
    }
  }
}

.about {
  width: 100%;
  height: 837px;
  display: flex;
  flex-direction: column;
  background-color: $color-white;

  &__title {
    @include section-title;  
  }

  &__line {
    @include line-under-title;
  }

  &__text {
    margin-top: 40px;
    color: $color-black;
    @include Inter ($style: regular);
    font-size: 2rem;
    line-height: 4rem;
    text-align: center;
  }

  .slider {
    margin: 20px 20px 0 20px;

    &__inner {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }

  .pagination {
    margin: 35px auto 0 auto;
    width: 78px;
    display: flex;
    justify-content: space-between;

    &__box {
      width: 26px;
      height: 26px;
      @include flex-center;
    }

    &__inner {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: $color-black-light;

      &__active {
        background-color: $color-brown-light;
      }
    }

  }
}

.favorites {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $color-white;
  padding-left: 20px;
  padding-right: 20px;

  &__title {
    @include section-title;
  }

  &__line {
    @include line-under-title;
  }

  &__text {
    color: $color-black;
    @include Inter ($style: bold);
    font-size: 2rem;
    margin-top: 40px;
    height: 24px;
  }

  &__buttons {
    margin-top: 35px;
    height: 34px;
    width: 705px;
    display: flex;
    justify-content: space-between;
    // margin-bottom: 35px;

  


    input {
      position: absolute;
      opacity: 0;
  
    }

    label {
      display: inline-block;
      padding: 5px;
      color: $color-black;
      @include Inter ($style: regular);
      font-size: 2rem;
      letter-spacing: 0.6px;
      position: absolute;

    }

    label:first-child {
      padding-left: 0;
      // margin-left: 0;
    }

  

    input:checked + label {
      font-weight: 700;
    }

    input:not(:checked) + label:before {
      content: url(assets/icons/icon-non-checked.svg); 
      display: inline-block;
      margin-right: 20px;
      margin-top: 1px; 
    }

    input:checked + label:before {
      content: url(assets/icons/icon_checked.svg); 
      display: inline-block;
      margin-right: 20px;
      margin-top: 1px;
    
    }

  }

  &__button:first-child label {
    padding-left: 0;
  }


  .books {
    margin-top: 35px;
    
    &__box {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;


      .book {
        width: 590px;
        height: 555px;
        position: relative;
        margin-bottom: 40px;

        &__image {
          width: 200px;
          height: 300px;
          position: absolute;
          right:0;
          bottom: 0;
          z-index: 1;
        }

        &__text {
          border: 1px solid $color-black;
          padding-left: 20px;
          width: 550px;
          height: 100%;
        }

        &__header-text {
           color: $color-black;
           font-family: $font-main;
           font-size: 2rem;
           line-height: 4rem;
           letter-spacing: 2px;
           margin-top: 13px;
        }

        &__header-line {
          width: 60px;
          height: 1px;
          background-color: $color-brown-light;

       }

        &__title {
          @include Inter ($style: bold); 
          color: $color-black;
          font-size: 1.5rem;
          line-height: 4rem;
          letter-spacing: 2px;
          margin-top: 20px;

          span {
            text-transform: uppercase;
          }

        }
        
        &__description {
          width: 357px;
          height: 320px;
          margin-top: 20px;
          color: $color-black;
          @include Inter ($style: regular);
          font-size: 1.5rem;    
          line-height: 4rem;
          letter-spacing: 2px;
          text-transform: capitalize;
          
        }

        &__btn {
          @include button-light;
          margin-top: 15px;

        }

      }

      .book:last-child .book__btn {
        border-color: $color-brown-light;
        color: $color-brown-light;
      }
    }

    .spring, .summer, .autumn {
      display: none;
    }
  }
  
}

.coffeeshop {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $color-white;
  padding-bottom: 40px;

  &__title {
    @include section-title;
  }

  &__line {
    @include line-under-title;
  }

  &__text {
    @include text-inter-20;
    margin-top: 40px;
    text-align: center;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;

    .drinks {
      width: 438px;
    }

    .desserts {
      width: 482px;
    }

    .menu {
      
           

      &__title {
        @include section-title;
        color: $color-brown-light;
        margin-top: 0;

        &__desserts {
          text-align: right;
        }
      }

      &__price {
    

        .menu-item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 40px;

          &__desserts {
            justify-content: flex-end;
          }
           
          &__name {
            width: 200px;
            @include text-inter-20;

           

            &__desserts {
              width: 215px;
              text-align: right;
            }
          }

          &__box {
            display: flex;
            align-items: center;

            &__desserts {
              margin-left: 59px;
            }

          }

          &__line {
            width: 100px;
            height: 1px;
            background-color: $color-brown-light;
            margin-right: 60px;

            
          }

          &__price {
            font-family: $font-main;             
            color: $color-black;           
            font-size: 2rem;   
            line-height: 4rem;
            letter-spacing: 2px;
     

          }
        }
      }
    }
  }

}










.footer {
  background-color: $color-black-light;
  height: 250px;
  padding: 20px 20px 44px 20px;

  &__info {
    width: 100%;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
  }

  &__location {
    width: 230px;


    a {
      color: $color-white;
      text-decoration: none;
      font-size: 1.5rem;
      line-height: 2rem;
      @include Inter ($style: regular); 
    }
  }

  &__icons {
    margin-top: 10px;
    width: 102px;
    height: 40px;
    @include flex-space;

    
  }

  &__icon {
    display: block;
    width: 24px;
    height: 24px;

    &__twitter {
      background-image: url('assets/icons/u_twitter-alt.svg');
    }

    &__instagram {
      background-image: url('assets/icons/u_instagram.svg');
    }

    &__facebook {
      background-image: url('assets/icons/u_facebook-f.svg');
    }
  
  }



  &__schedule {
    width: 149px;
    color: $color-white;
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: right;
    @include Inter ($style: regular); 

    .weekends {
      margin-top: 10px;
    }
  }

  &__line {
    width: 100%;
    height: 1px;
    background-color: $color-white;
    // background-color: $color-white;
  }

  &__rss {
    color: $color-white;
    margin-top: 44px;
    font-size: 2rem;
    letter-spacing: 2px;
    @include flex-space;
    @include Inter ($style: regular); 

    a {
      color: $color-white;
      text-decoration: none;
    }

    .rss {
      margin-left: 50px;
    }
  }
}





