// blue theme
// $color-main-dark: #1e3050;
// $color-range: red;
// $color-text: #16253c;
// $color-gradient-start: #788396;
// $color-gradient-end: #d2d6dc;
// $color-buttons: #626e85;
// $color-progress: white;
// $color-svg: #16253c;

// black-yellow theme
$color-main-dark: #1f1d0f;
$color-range: #e3ce2d;
$color-text:  #e3ce2d;
$color-gradient-start: #4c4a3f;
$color-gradient-end: #79776f;
$color-buttons:  #e3ce2d;
$color-progress: #1f1d0f;
$color-svg:#1f1d0f;

@font-face {
  font-style: normal;
  font-family: "Lato";
  font-weight: 300;
  src: url(./assets/fonts/Lato/Lato-Thin.ttf);
}

@font-face {
  font-style: normal;
  font-family: "Lato";
  font-weight: 400;
  src: url(./assets/fonts/Lato/Lato-Regular.ttf);
}

@font-face {
  font-style: normal;
  font-family: "Changa";
  font-weight: 300;
  src: url(./assets/fonts/Changa/Changa-Light.ttf);
}

@font-face {
  font-style: normal;
  font-family: "Changa";
  font-weight: 400;
  src: url(./assets/fonts/Changa/Changa-Regular.ttf);
}

@font-face {
  font-style: normal;
  font-family: "Manrope";
  font-weight: 300;
  src: url(./assets/fonts/Manrope/Manrope-Light.ttf);
}

@font-face {
  font-style: normal;
  font-family: "Manrope";
  font-weight: 400;
  src: url(./assets/fonts/Manrope/Manrope-Medium.ttf);
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Manrope";
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-main-dark;
}

svg {
  fill: $color-svg;
}

.container {
  background: linear-gradient(to right,$color-gradient-start, $color-gradient-end );
  border-radius: 5px;
  box-shadow: 0px 0px 7px 2px $color-gradient-end;
  width: auto;
  height: auto;

  @media screen and (max-width: 500px) {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: none;
    box-shadow: none;
  }
}

.audio-player {
  padding: 10px;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

h1 {
  font-size: 20px;
  font-weight: 500;
  color: $color-text;
  text-shadow: 0px 0px 3px $color-main-dark;
}

.image-box {
  width: 300px;
  height: 300px;
  margin-top: 15px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  

  .overlay {
    box-shadow: inset 0px 0px 5px 12px $color-main-dark;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
  }

  .image {
    width: 100%;
    height: 100%;
  } 

  img {
    filter: grayscale(100%);
  }

}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;

  .track-name {
    font-size: 20px;
    font-weight: 500;
    color: $color-text;
    text-shadow: 0px 0px 3px $color-main-dark;
  }

  .author {
    font-size: 15px;
    font-weight: 300;
    margin-top: 5px;
    color: $color-text;
    text-shadow: 0px 0px 3px $color-main-dark;
  }
}

.controls {
  display: flex;
  width: 50%;
  justify-content: space-between;
  margin-top: 15px;
  position: relative;

  button {
    width: 40px;
    height: 40px ;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-buttons;
    border: none;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
    top: 0;
    box-shadow: 0px 0px 8px 1px $color-main-dark;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  button:active {
    transform: translateY(-2px);
  }

  .play-track {
    padding-left: 3px;
  }
  
  .hidden {
    display: none;
  }

}

.progress-box {
  margin-top: 15px;
  width: 100%;

  .progress {
    width: 100%;
    height: 5px;
    background-color: $color-progress;
    position: relative;
    cursor: pointer;
    border-radius: 2px;

    input {
      -webkit-appearance: none;
      appearance: none;
      width: 100%;
      height: 5px;
      position:absolute;
      top: 0;
      left: 0;
      background-color: $color-progress;
      cursor: pointer;
      border-radius: 2px;
    }

    input::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 12px;
      height: 12px;
      background-color: $color-range;
      border-radius: 50%;
      z-index: 3;
      cursor: pointer;
    }  
  }

  .time-box {
    margin-top: 5px;
    font-size: 12px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: $color-text;
    text-shadow: 0px 0px 3px $color-main-dark;
  }

}


.volume-box {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  
  
  
    
  button {
    width: 30px;
    height: 30px ;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-buttons;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 8px 1px $color-main-dark;
    transition: all 0.3s ease;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  button:active {
    transform: translateY(-2px);
  }

  .hidden {
    display: none;
  }

  .volume-progress {
    width: 70%;
    height: 3px;
    background-color: $color-progress;
    position: relative;
    border-radius: 2px;

    .volume-range {
      -webkit-appearance: none;
      appearance: none;
      width: 100%;
      height: 3px;
      position:absolute;
      top: 0;
      left: 0;
      background-color: $color-progress;
      border-radius: 2px;

      cursor: pointer;
    }

    .volume-range::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 10px;
      height: 10px;
      background-color: $color-text;
      border-radius: 50%;
      z-index: 3;
      cursor: pointer;
    } 
  }


}