@font-face {
  font-style: normal;
  font-family: "Forum";
  font-weight: 400;
  src: url(assets/fonts/Forum-Regular.ttf);
}

@font-face {
  font-style: normal;
  font-family: "Inter";
  font-weight: 400;
  src: url(assets/fonts/Inter-Regular.ttf);
}

@font-face {
  font-style: normal;
  font-family: "Inter";
  font-weight: 700;
  src: url(assets/fonts/Inter-Bold.ttf);
}

@mixin Inter ($style: regular) {
  @if $style == regular {
    font-weight: 400;
    font-family: "Inter", sans-serif;
  }

  @if $style == bold {
    font-weight: 700;
    font-family: "Inter", sans-serif;
  }
}