:root {
	font-size: 10px;
}

@mixin flex-space($justify: space-between, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin flex-center($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin section-title {
  color: $color-black-light;
  font-family: $font-main;
  font-size: 4rem;
  line-height: 4rem;
  letter-spacing: 2px;
  margin: 20px auto 0 auto;
}

@mixin line-under-title {
  margin: 20px auto 0 auto; 
  width: 50px;
  height: 1px;
  background-color: $color-black-light;
}

@mixin button-light {
  width: 75px;
  height: 30px;
  border-radius: 2px;
  border: 1px solid $color-black-light;
  @include Inter ($style: bold);
  font-size: 1rem;
  letter-spacing: 1px;
  background-color: $color-white;
}

@mixin text-inter-20 {
  color: $color-black;
  font-size: 2rem;
  line-height: 4rem;
  letter-spacing: 2px;
  @include Inter ($style: regular);
}